.DS_Store
*.local
.env
.venv
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.terraform
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform/**/terraform.tfvars

# Lambda build artifacts
lambda/*/node_modules
lambda/*.zip

# claude stuff
.claude/

# uv
uv.lock